*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 95vh;
}
.container-box-picture {
  display: none;
}
@media (min-width: 1440px) {
  .container-box-picture {
    display: block;
    position: absolute;
    left: 4%;
    bottom: 33%;
    z-index: 1;
  }
}
.accordion {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 12px;
  background-color: #fff;
  width: 90vw;
  min-width: 21.875rem;
  padding: 0 1.5rem;
  padding-bottom: 3rem;
  border-radius: 1.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
}
@media (min-width: 1440px) {
  .accordion {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 20% repeat(5, 1fr) 20%;
    overflow: hidden;
    max-height: 30rem;
    max-width: 70rem;
    position: relative;
  }
}
.accordion picture > img {
  display: block;
}
.accordion-picture {
  width: 71%;
  margin-top: -32%;
  align-self: center;
  margin-bottom: -23%;
}
@media (min-width: 1440px) {
  .accordion-picture {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: span 7;
    display: grid;
    width: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: -19%;
  }
}
.accordion-picture-shadow {
  width: 71%;
  margin-top: 1%;
  align-self: center;
  margin-left: 5%;
  margin-bottom: 20%;
}
@media (min-width: 1440px) {
  .accordion-picture-shadow {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: span 7;
    display: grid;
    width: 130%;
    align-self: unset;
    margin-left: -49%;
    margin-top: -15%;
  }
}
.accordion-picture-shadow > img {
  width: 93%;
}
.accordion-title {
  text-transform: uppercase;
  text-align: center;
}
@media (min-width: 1440px) {
  .accordion-title {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    place-self: end start;
    padding-bottom: 2%;
  }
}
.accordion-item {
  padding: 1rem 0;
  border-bottom: 1px solid hsl(240, 5%, 91%);
  display: grid;
  grid-template-columns: 7fr 1fr;
  row-gap: 0.5rem;
}
@media (min-width: 1440px) {
  .accordion-item {
    width: 75%;
  }
}
.accordion-header {
  grid-column-start: span 2;
}
.accordion-item .accordion-header:hover * {
  color: hsl(14, 88%, 65%);
}
.accordion-button {
  border: none;
  background-color: #fff;
  font-family: inherit;
  font-size: 14px;
  color: hsl(237, 12%, 33%);
  display: flex;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
  transition: color 0.3s;
}
.accordion-button:not(.collapsed) {
  color: hsl(238, 29%, 16%);
  font-weight: 700;
}
.accordion-button:not(.collapsed)::after {
  transform: rotate(180deg);
}
.accordion-button::after {
  content: "";
  width: 1rem;
  height: 1rem;
  background-image: url(images/icon-arrow-down.svg);
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 0.5s;
}
.accordion-collapse {
  max-height: 0;
  overflow: hidden;
  transition: 0.5s;
}
.accordion-collapse:not(.show) {
  display: none;
}
.accordion-body {
  color: hsl(240, 6%, 50%);
}
@media (min-width: 1440px) {
  #item1 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
}
@media (min-width: 1440px) {
  #item2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }
}
@media (min-width: 1440px) {
  #item3 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
  }
}
@media (min-width: 1440px) {
  #item4 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
  }
}
@media (min-width: 1440px) {
  #item5 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 7;
  }
}
