*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

:root {
  --orange: hsl(25, 97%, 53%);
  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(216, 12%, 54%);
  --dark-blue: hsl(213, 19%, 18%);
  --very-dark-blue: hsl(216, 12%, 8%);
}

body {
  box-sizing: border-box;
  font-size: 1.5rem;
  font-family: "Overpass", sans-serif;
  background-color: var(--very-dark-blue);
  position: relative;
  height: 100vh;
}

.container {
  background-color: var(--dark-blue);
  border-radius: 3rem;
  max-width: 38rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  padding: 3rem;
}

.heading-1 {
  color: var(--white);
  margin-bottom: 1rem;
  font-weight: 400;
}

.text {
  color: var(--light-grey);
  line-height: 1.6;
  margin-bottom: 2rem;
}

.radio-label {
  color: var(--light-grey);
  display: flex;
  align-items: center;
  justify-content: center;
}

.radio-label:hover {
  background-color: hsl(216deg 12% 54% / 90%);
  color: var(--white);
  cursor: pointer;
}

input[type="radio"]:checked + .radio-label {
  background-color: var(--orange);
  color: var(--white);
}

.star-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.circle {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: hsl(216deg 12% 54% / 30%);
}

.margin-bottom-1 {
  margin-bottom: 2rem;
}

.list {
  display: flex;
  justify-content: space-between;
}

.list li {
  list-style: none;
}

.radio {
  display: none;
}

.btn {
  border: none;
  padding: 1rem 3rem;
  margin: 0 auto;
  display: block;
  width: 100%;
  border-radius: 3rem;
  font: inherit;
  font-weight: 700;
  letter-spacing: 0.2rem;
  background-color: var(--orange);
  color: var(--white);
  text-transform: uppercase;
  transition: background-color, color 0.3s;
  margin-top: 3rem;
}

.btn:hover {
  background-color: var(--white);
  color: var(--orange);
  cursor: pointer;
}

.hide {
  display: none;
}

.error-msg {
  color: red;
  margin: 1rem auto;
  display: block;
}

.your-choice {
  color: var(--orange);
  align-self: center;
  padding: 0.5rem 2rem;
  background-color: hsl(216deg 12% 54% / 30%);
  border-radius: 3rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.thankyou-img {
  width: 50%;
  margin: 0 auto;
}
